---
http_interactions:
- request:
    method: get
    uri: https://api.medium.com/v1/users/test/publications
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2ada46c383ae76af4ca4dcbe42f7611062644f366bd6281c2efe78202b35f3c60
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sepia-Upstream:
      - medium
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      Medium-Fulfilled-By:
      - valencia/main-20211209-014605-5c8156f7e8
      X-Obvious-Info:
      - 20211209-0205-root,5c8156f7
      X-Opentracing:
      - '{"ot-tracer-spanid":"232987964b015413","ot-tracer-traceid":"4ff05e81e8c3745e","ot-tracer-sampled":"true"}'
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"userId was invalid.","code":6026}]}'
  recorded_at: Thu, 09 Dec 2021 04:44:52 GMT
recorded_with: VCR 6.0.0
