---
http_interactions:
- request:
    method: post
    uri: https://api.medium.com/v1/users/1b619f0be1bc842ffc55e8a20c7d6c9129ba896467b90ab9e23b86a36fdd2a67e/posts
    body:
      encoding: UTF-8
      string: title=Test%20Title&content=%3Ch1%3ETest%20Title%3C%2Fh1%3E&contentFormat=html
    headers:
      Authorization:
      - Bearer 2ada46c383ae76af4ca4dcbe42f7611062644f366bd6281c2efe78202b35f3c60
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sepia-Upstream:
      - medium
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      Location:
      - https://medium.com/@nmisharin/test-title-695e96144fba
      Medium-Fulfilled-By:
      - valencia/main-20211209-014605-5c8156f7e8
      X-Obvious-Info:
      - 20211209-0205-root,5c8156f7
      X-Opentracing:
      - '{"ot-tracer-spanid":"3bddd99333835ec7","ot-tracer-traceid":"507cc65fd8f3c327","ot-tracer-sampled":"true"}'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"695e96144fba","title":"Test Title","authorId":"1b619f0be1bc842ffc55e8a20c7d6c9129ba896467b90ab9e23b86a36fdd2a67e","url":"https://medium.com/@nmisharin/test-title-695e96144fba","canonicalUrl":"","publishStatus":"","publishedAt":1639021791859,"license":"","licenseUrl":"https://policy.medium.com/medium-terms-of-service-9db0094a1e0f","tags":[]}}'
  recorded_at: Thu, 09 Dec 2021 03:49:50 GMT
recorded_with: VCR 6.0.0
