---
http_interactions:
- request:
    method: get
    uri: https://api.medium.com/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2ada46c383ae76af4ca4dcbe42f7611062644f366bd6281c2efe78202b35f3c60
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sepia-Upstream:
      - medium
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      Medium-Fulfilled-By:
      - valencia/main-20211206-194809-70209e8310
      X-Obvious-Info:
      - 20211207-1907-root,eeb69155
      X-Opentracing:
      - '{"ot-tracer-spanid":"1275915f10175e7c","ot-tracer-traceid":"7eeeffd9cf74d0f2","ot-tracer-sampled":"true"}'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1b619f0be1bc842ffc55e8a20c7d6c9129ba896467b90ab9e23b86a36fdd2a67e","username":"nmisharin","name":"Test
        Api Key","url":"https://medium.com/@nmisharin","imageUrl":"https://cdn-images-1.medium.com/fit/c/400/400/1*dmbNkD5D-u45r44go_cf0g.png"}}'
  recorded_at: Wed, 08 Dec 2021 08:10:57 GMT
recorded_with: VCR 6.0.0
