---
http_interactions:
- request:
    method: get
    uri: https://api.medium.com/v1/users/1b619f0be1bc842ffc55e8a20c7d6c9129ba896467b90ab9e23b86a36fdd2a67e/publications
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2ada46c383ae76af4ca4dcbe42f7611062644f366bd6281c2efe78202b35f3c60
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sepia-Upstream:
      - medium
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      Medium-Fulfilled-By:
      - valencia/main-20211209-014605-5c8156f7e8
      X-Obvious-Info:
      - 20211208-2027-root,c79c5f55
      X-Opentracing:
      - '{"ot-tracer-spanid":"37d7ea5b49a17495","ot-tracer-traceid":"6e23aeaad02a2469","ot-tracer-sampled":"true"}'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"eca1ba5ae1ca","name":"ILLUMINATION","description":"We
        curate and disseminate outstanding articles from diverse domains and disciplines
        to create fusion and synergy.","url":"https://medium.com/illumination","imageUrl":"https://cdn-images-1.medium.com/fit/c/400/400/1*lTGoREgdOsvBq2YFMQOv0Q.png"}]}'
  recorded_at: Thu, 09 Dec 2021 02:25:32 GMT
recorded_with: VCR 6.0.0
