---
http_interactions:
- request:
    method: get
    uri: https://api.medium.com/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer asd
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sepia-Upstream:
      - medium
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      Medium-Fulfilled-By:
      - valencia/main-20211209-014605-5c8156f7e8
      X-Obvious-Info:
      - 20211209-0205-root,5c8156f7
      X-Opentracing:
      - '{"ot-tracer-spanid":"60805821225598fb","ot-tracer-traceid":"4fd75780c583a2d6","ot-tracer-sampled":"true"}'
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Token was invalid.","code":6003}]}'
  recorded_at: Thu, 09 Dec 2021 04:16:33 GMT
recorded_with: VCR 6.0.0
